@page
@model MOT_RazorPage.Pages.NotFoudn

@{
    ViewData["Title"] = "Not foudn.";
}

<div class="container">
    <h1 class="alert alert-danger">Article not foudn! </h1>
    <h4>Zkuste nějakej kterej bude foudn. Nebo se víc snažte</h4>
</div>